 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 784px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 694px;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 7px;
}

.u-section-1 .u-icon-1 {
  width: 93px;
  height: 93px;
  margin: 151px auto 0;
  padding: 3px;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 320px;
  min-width: 160px;
  margin: 95px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(77, 118, 161) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 694px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px 15px 0;
}

.u-section-1 .u-shape-1 {
  width: 169px;
  height: 169px;
  margin: 123px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 657px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 414px;
  }
}